<configuration>
 
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    	<encoder>
      		<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
    		<immediateFlush>false</immediateFlush>
    	</encoder>
  	</appender>
	<appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender"> 
  		<file>log/myapp-rotate-log4j.log</file>

	    <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
      		<fileNamePattern>log/avro-rpc-quickstart-rotate-log4j.log.%i</fileNamePattern>
      		<minIndex>1</minIndex>
      		<maxIndex>3</maxIndex>
    	</rollingPolicy>

    	<triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
      		<maxFileSize>50MB</maxFileSize>
    	</triggeringPolicy>
  		<encoder>
    		<pattern>%d %-5level [%thread] %logger{0}: %msg%n</pattern>
    		<immediateFlush>true</immediateFlush>
	  	</encoder> 
	</appender>
	
 	<root level="INFO">
    	<appender-ref ref="STDOUT" />
    	<appender-ref ref="FILE" />
  	</root>
</configuration>